%taskheader {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;

    x-checkbox {
        margin-right: 0.5rem;
    }

    > a {
        display: none;
        margin-right: 0.5rem;
        width: 1rem;
        height: 1rem;
        font-size: 1rem;
        text-decoration: none;
        color: inherit;
        border: 0;
        outline: 0;
        opacity: 0.2;
        transition: all ease-in-out 0.05s;
    }

    > a:first-child {
        display: block;

        &:before {
            content: "📌";
            font-size: 0.9rem;
        }

        &:hover {
            opacity: 1;
        }
    }

    span {
        display: block;
        border: 0;
        outline: 0;
        white-space: pre-wrap;
        word-break: break-all;
        line-height: 1.5rem;
        min-height: 1.5rem;
        padding-right: 1.5rem;
    }

    x-checkbox[checked] + span {
        color: #aaa;
    }
}

x-task {
    display: flex;
    font-size: 1rem;

    header {
        @extend %taskheader;
    }

    footer {
        display: none;
        flex-direction: column;
        margin-left: 2rem;
        overflow: hidden;
    }

    > header {
        display: none;

        > a:nth-child(2) {
            &:before {
                content: "↺";
                font-size: 0.9rem;
            }
        }
    }

    &[is-pinned] {
        > header {
            > a:first-child {
                opacity: 1;
            }
        }
    }

    &[checked] {
        > header {
            > a:first-child {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    &[has-subtasks] {
        > header {
            > a:first-child {
                opacity: 1;

                &:before {
                    content: "＋";
                    font-size: 1rem;
                }
            }
        }

        &[expanded] {
            > header {
                > a:first-child:before {
                    content: "－";
                    font-size: 1rem;
                }
            }
        }

        &[checked] {
            > header {
                > a:first-child {
                    pointer-events: auto;
                }
            }
        }
    }

    &[expanded] {
        > footer {
            display: flex;
        }
    }

    &[root] {
        display: block;

        > header {
            display: flex;
            text-align: center;

            a:first-child {
                display: none;
            }

            x-checkbox {
                display: none;
            }

            span {
                width: 100%;
                font-size: 2rem;
                line-height: 4rem;
                text-align: center;
                padding-right: 0;
            }
        }


        &[has-subtasks] {
            > footer {
                display: flex;
                margin-left: 0;

                header {
                    display: flex;
                }
            }
        }

        x-task {
            display: block;
        }
    }

    &[ancestor] {
        display: flex;
        justify-content: center;

        > footer {
            display: flex;
            margin-left: 0;
        }
    }

    &[unsynced] {
        > header {
            > a:nth-child(2) {
                display: block;
            }
        }
    }
}

x-task[id="root"] {
    > header {
        height: 0;
    }
}
