x-task {
    color: #222;
    font-size: 1rem;
    min-width: 10rem;
    padding-top: 0.5rem;
    display: none;

    &[has-subtasks] {
        > header {
            > a:before {
                content: "＋";
            }
        }

        &[expanded] {
            > header {
                > a:before {
                    content: "－";
                }
            }
        }
    }

    &[expanded] {
        > footer {
            height: 100%;
        }
    }

    &[root] {
        display: block;

        > header {
            a {
                display: none;
            }

            x-checkbox {
                display: none;
            }

            span {
                font-size: 2rem;
                line-height: 4rem;
                text-align: center;
            }
        }

        x-task {
            display: block;
        }
    }

    header {
        display: flex;
        align-items: center;

        x-checkbox {
            margin-right: 0.5rem;
        }

        > a {
            margin-right: 0.5rem;
            width: 1rem;
            height: 1rem;
            font-size: 1rem;
            text-decoration: none;
            color: inherit;
            border: 0;
            outline: 0;
        }

        span {
            width: 100%;
            border: 0;
            outline: 0;
            white-space: pre-wrap;
            word-break: break-all;
            line-height: 1.5rem;
        }

        x-checkbox[checked] + span {
            color: #aaa;
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        height: 0;
        overflow: hidden;
    }
}
