x-controls {
    position: fixed;
    width: 100vw;
    top: unset;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    background-color: #f5f5f5;
    z-index: 1000000;
    max-height: 3rem;

    section {
        display: flex;
    }

    #leftControls {
        margin-left: 0.5rem;
    }

    #rightControls {
        margin-left: auto;
    }

    a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        pointer-events: none;
        cursor: default;
        width: 3.5rem;

        &.active {
            pointer-events: all;
            cursor: pointer;
        }
    }

    #outdent {
        svg {
            width: 100%;

            g {
                fill: #aaaaaa;
            }
        }

        &.active {
            svg {
                g {
                    fill: #222;
                }
            }
        }
    }

    #indent {
        svg {
            width: 100%;

            g {
                fill: #aaaaaa;
            }
        }

        &.active {
            svg {
                g {
                    fill: #222;
                }
            }
        }
    }

    #moveUp {
        svg {
            width: 100%;

            g {
                fill: #aaaaaa;
            }
        }

        &.active {
            svg {
                g {
                    fill: #222;
                }
            }
        }
    }

    #moveDown {
        svg {
            width: 100%;

            g {
                fill: #aaaaaa;
            }
        }

        &.active {
            svg {
                g {
                    fill: #222;
                }
            }
        }
    }

    #toggleCheck {
        margin-top: 0.7rem;

        x-checkbox {
            .unchecked {
                border-color: #aaa;
            }
        }

        &.active {
            x-checkbox {
                .unchecked {
                    border-color: #222;
                }

                .checked {
                    svg {
                        path {
                            stroke-width: 3px;
                            stroke: #222;
                        }
                    }
                }
            }
        }
    }
}
