@import "~normalize.css";

@import "./components/checkbox/checkbox";
// @import "./components/task/task";
@import "./components/pin/pin";

html, body {
    width: 100%;
    height: 100%;
}

body {
    color: #1f1f1f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hidden {
    display: none !important;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 2rem 2rem;

    @media screen and (min-width: 720px) {
        padding: 0 6rem 2rem 6rem;
    }

    @media screen and (max-width: 576px) {
        padding: 0 0 2rem 2rem;
        align-items: start;
    }

    hr {
        border: 0.1rem solid #27ae60;
        width: 90%;
        margin-top: 1.5rem;

        @media screen and (min-width: 720px) {
            width: 80%;
        }
    }

    aside {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        z-index: 10000;
        display: flex;
        flex-direction: column;

        > a {
            text-decoration: none;
            color: inherit;
            padding: 0.5rem;
            box-sizing: border-box;
        }

        > section {
            display: none;
            position: relative;
            line-height: 1.5rem;
            width: 8rem;

            > a {
                color: inherit;
                text-decoration: none;
                padding: 0.5rem;
                width: 100%;
                box-sizing: border-box;
            }

            > section {
                position: absolute;
                left: 0;
                top: 2.5rem;
                width: 40rem;
                padding: 0.5rem;
                box-sizing: border-box;
                display: none;
                background-color: #ddd;
                z-index: 10001;

                @media screen and (max-width: 576px) {
                    width: 15rem;
                }
            }

            &[data-open] {
                background-color: #ddd;

                > section {
                    display: block;
                }
            }
        }

        &[data-open] {
            background-color: whitesmoke;

            > section {
                display: flex;
            }
        }

        @media screen and (max-width: 576px) {
            top: 0.5rem;
            left: 0.5rem;
        }
    }
}

#status {
    padding: 0.5rem;
    font-size: 0.8rem;
    width: 8rem;
    box-sizing: border-box;

    div {
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

#pins {
    margin-top: 2rem;

    @media screen and (max-width: 576px) {
        width: 100%;
    }

    x-pin:last-child {
        margin-bottom: 1rem;
    }
}

#work {
    max-width: 100%;

    @media screen and (max-width: 576px) {
        width: 100%;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        line-height: 1.5rem;
        padding-bottom: 1rem;

        a {
            max-width: 8rem;

            color: inherit;
            text-decoration: none;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            padding-right: 1rem;

            &:before {
                content: "›";
                padding-right: 1rem;
            }

            &:first-child {
                &:before {
                    content: "";
                    padding-right: 0;
                }
            }

            &:last-child {
                padding-right: 0;
            }

            &:hover {
                text-decoration: underline;
            }

            @media screen and (max-width: 576px) {
                padding-right: 0.5rem;

                &:before {
                    padding-right: 0.5rem;
                }
            }
        }
    }
}

#storage {
    > section {
        padding: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            line-height: 1.5rem;
            margin-top: 0.5rem;
        }

        input[type="url"] {
            margin-top: 0;
        }

        input[type="radio"] {
            margin-top: 0;
            margin-right: 0.25rem;
        }

        .form-group {
            display: flex;
            flex-direction: row;
            margin-right: 0.5rem;
        }

        > .form-group {
            margin-top: 0.5rem;
        }
    }
}
