@import "~normalize.css";

@import "./components/checkbox/checkbox";
// @import "./components/task/task";
@import "./components/pin/pin";

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 2rem 2rem;

    @media screen and (min-width: 720px) {
        padding: 0 6rem 2rem 6rem;
    }

    hr {
        border: 0.1rem solid #27ae60;
        width: 90%;
        margin-top: 1.5rem;

        @media screen and (min-width: 720px) {
            width: 80%;
        }
    }

    aside {
        margin: 0.5rem 0 0 0;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        display: flex;
        margin-right: auto;
        align-items: center;

        a {
            text-decoration: none;
            padding: 0.1rem 0;

            & + section {
                display: none;
                margin: 0 2rem;
                position: relative;
                z-index: 1000;

                header {
                    display: flex;
                    padding: 0.1rem 0;
                    box-sizing: border-box;
                    z-index: 1001;
                }

                section {
                    position: absolute;
                    display: none;
                    width: 1000%;
                    padding: 0 1rem 0.5rem 0;
                    margin-top: 1.5rem;
                    background-color: #fff;
                    box-sizing: border-box;
                    line-height: 1.5rem;
                }
            }
        }

        &:hover {
            a + section {
                display: flex;

                header:hover {
                    & + section {
                        display: block;
                    }
                }
            }
        }
    }
}

#pins {
    x-pin:last-child {
        margin-bottom: 1rem;
    }
}

#work {
    nav {
        display: flex;
        justify-content: center;
        font-size: 1rem;
        line-height: 2.5rem;

        a {
            max-width: 8rem;

            color: inherit;
            text-decoration: none;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            padding-left: 1rem;

            &:before {
                content: "›";
                padding-right: 1rem;
            }

            &:first-child {
                padding-left: 0;

                &:before {
                    content: "";
                    padding-right: 0;
                }
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
